* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 36px;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

textarea {
  height: 300px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
}

#beautified-code {
  font-family: monospace;
  white-space: pre-wrap;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
  height: 300px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 14px;
}
